.abstract-table-input{
  .ant-table-footer{
    background-color: #fff;
    padding:0px;
  }
  .abstract-form-item{
    margin-bottom:0px;
  }
  .abstract-table-input-addrow{
    text-align: center;
    
    .abstract-table-input-addrow-btn{
      display:inline-block;
    }
  }
  .abstract-table-input-footer{
    background-color: #fff;
    .abstract-table-input-footer-ext{
      padding:16px 0px;
      border-bottom: 1px solid #f0f0f0;
      background-color: #fafafa;
    }
  }
  .footer-actions {
    display: flex;
    flex-direction: row;
    padding:16px 0px;
    justify-content: center;
    border-bottom: 1px solid #f0f0f0;
    .table-operators {
      margin-left: 10px;
    }
  }
}