.abstract-search-form {
  .abstract-search-inner {
    padding: 24px 24px 0px 0px;
  }
  flex-shrink: 0;

  .ant-calendar-picker {
    width: 100%;
  }

  .ant-row.ant-form-item {
    display: flex;
  }

  .ant-form-item-control-wrapper {
    flex: 1;
  }

  .search-footer {
    height: 62px;
  }

  .abstract-form-item-col {
    // padding-bottom:12px;
    min-width: 270px;
  }

  .search-actions-btns {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
  }

  .search-buttons {
    position: static;
    text-align: left;

    .ant-form-item-children {
      white-space: nowrap;
    }
  }

  @media (max-width: 575px) {
    .ant-row.ant-form-item {
      display: block;
    }
  }

  .search-newline-btn {
    display: flex;
    justify-content: flex-start;
    padding: 10px 0;
    .abstract-page-search-action-box {
      min-width: auto;
    }
    &.search-btns-align-center {
      justify-content: center;
    }
    &.search-btns-align-right {
      justify-content: flex-end;
    }
  }
}