.abstract-search-form {
  &.ant-form-horizontal {
    .ant-form-item-control  {
      flex: 1 1 0;
    }
  }
  .abstract-search-inner {
    padding: 24px 24px 0px 24px;
    &.collapse {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      align-items: flex-start;
      .abstract-form  {
        flex: 1;
        max-height: 56px;
        overflow-y: hidden;
      }
      .search-newline-btn {
        padding: 0 0 0 10px;
      }
      .search-buttons {
        flex-shrink: 0;
      }
    }
  }
  flex-shrink: 0;

  .ant-calendar-picker {
    width: 100%;
  }

  .ant-row.ant-form-item {
    display: flex;
  }

  .ant-form-item-control-wrapper {
    flex: 1;
  }

  .search-footer {
    height: 62px;
  }

  .search-actions-btns {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
  }

  .search-buttons {
    position: static;
    text-align: left;
    /*为了保证操作全部可见，这里需要取消max-with*/
    max-width: initial;

    .ant-form-item-children {
      white-space: nowrap;
    }
  }

  @media (max-width: 575px) {
    .ant-row.ant-form-item {
      display: block;
    }
  }

  .search-newline-btn {
    display: flex;
    justify-content: flex-start;
    padding: 10px 0;
    .abstract-page-search-action-box {
      min-width: auto;
    }
    &.search-btns-align-center {
      justify-content: center;
    }
    &.search-btns-align-right {
      justify-content: flex-end;
    }
  }
}