.abstract-object {
  overflow-x: hidden;

  .abstract-form {
    .form-group.first-group {
      .form-group-legend {
        margin-top: 0px;
      }
    }
  }

  .btn-hide {
    display: none !important;
  }
}

.abstract-object-modal-wrap,
.abstract-object-wrap {
  &.fixed-footer {
    height: 100%;

    .abstract-object {
      height: 100%;
      display: flex;
      flex-direction: column;
    }

    .object-view-body {
      overflow: auto;
      flex: 1;
    }
  }
}

.abstract-object-wrap {
  padding: 24px 24px 0 24px;
  .object-view-body {
    padding-top: 20px;
  }
}

.action-view-container {
  text-align: center;
  padding: 0;
  flex-shrink: 0;

  &.header-actions {
    margin-bottom: 12px;
    .form-actions-wrapper {
      justify-content: left;
    }
  }

  .form-actions-wrapper {
    display: flex;
    justify-content: center;
    .form-actions {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: flex-end;
      gap:0;
      row-gap: 10px;
      > *{
        margin-right: 15px;
        margin-inline-start: 0 !important;
      }
    }
  }
}

.abstract-object-modal-wrap {
  .action-view-container {
    margin-top: -12px;
    .form-actions-wrapper {
      justify-content: right;
    }
  }
}

.abstract-object-modal-wrap.large {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  overflow: hidden;

  .abstract-object {
    position: absolute;
    bottom: 70px;
    top: 50px;
    left: 100px;
    right: 100px;
    min-width: 980px;
    max-width: 1180px;
    width: auto !important;
    background-color: #fff;
    padding-bottom: 0px;
    border-radius: 4px;

    .ant-modal-content {
      display: flex;
      height: 100%;
      flex-direction: column;

      .ant-modal-body {
        flex: 1;
        overflow-y: auto;
        overflow-x: hidden;
      }
    }
  }
}