.abstract-actions {
  height: 100%;

  .abstract-actions-object,
  .abstract-actions-list {
    height: 100%
  }

  &.sub-covered {
    .abstract-actions-object.action-current {
      opacity: 0;
    }
  }

  .abstract-actions-object.sub-action {
    transform: translateY(-100%);
  }
}

.abstract-actions-drawer {
  &.realtime {
     .ant-drawer-mask {
      background-color: rgba(0,0,0,0);
    }
  }

  .abstract-object-wrap .object-view-body{
    padding:0px;
  }
  .abstract-form {
    .tabs-group-form-inner {
      padding-left: 0px;
    }
  }

  .form-group >.ant-card-body {
    padding-left: 0px;
  }

  .abstract-actions-drawer-footer {
    text-align: center;

    .btn-ok,
    .btn-cancel {
      width: 120px;
      margin-right: 15px;
    }
  }
}

.abstract-actions-hide-top-operators {
  .abstract-table-top-actions {
    display: none;
  }
}

